.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.pagination__page {
	margin: 0.5rem;
	padding: 0.2rem 0.5rem;
	transition: background-color 300ms;
	border: none;
	border-radius: 5px;
	background-color: #FFE44D;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
}

.pagination__page:hover {
	background-color: #FFD151;
}

.pagination__page_active {
	background-color: #FFD151;
}

.pagination__next,
.pagination__prev {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.pagination__next svg,
.pagination__prev svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: #000;
}

.pagination__next:disabled svg,
.pagination__prev:disabled svg {
	opacity: 0.3;
}

@media (max-width: 500px) {
	.pagination {
		margin: 1rem 0.5rem;
	}

	.pagination__page {
		margin: 0.3rem;
	}
}
