@use "../../../styles/mixins"as m;

.footer {
	flex-shrink: 0;
	width: 100%;
	padding-top: 40px;
	padding-right: var(--section-right);
	padding-bottom: 88px;
	padding-left: var(--section-left);
	border-top-left-radius: var(--section-border-radius);
	border-top-right-radius: var(--section-border-radius);
	background-color: var(--primary);
	color: var(--text-light);

	@include m.media-breakpoint-down(s) {
		padding-bottom: 20px;
	}

	&__logo {
		@include m.media-breakpoint-down(s) {
			display: none;
		}
	}

	&__copyright {
		max-width: 180px;
		font-size: 0.7rem;
		line-height: 12px;

		@include m.media-breakpoint-down(s) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 10px;

		@include m.media-breakpoint-down(md) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 40px;
		}

		@include m.media-breakpoint-down(xs) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include m.media-breakpoint-down(md) {
			&:last-child {
				grid-column-start: 2;
				grid-row-start: 1;
			}
		}

		@include m.media-breakpoint-down(xs) {
			&:last-child {
				grid-column-start: 1;
				grid-row-start: 1;
			}
		}

		a {
			width: fit-content;
		}
	}

	&__menuBottom {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include m.media-breakpoint-down(s) {
			display: none;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;

		&Title {
			margin-bottom: 12px;
			margin-left: 0.3rem;
			color: var(--text-light);
			font-weight: 700;
			line-height: 20px;
		}

		&Tel {
			margin-bottom: 4px;
		}

		&Mail {
			margin-bottom: 12px;
		}
	}
}
