.search {
	display: flex;
	position: relative;
	flex: 1;
	align-items: center;
}

.search__input {
	width: 100%;
	padding: 10px 60px 10px 20px;
	border: 1px solid transparent;
	border-radius: 24px;
	outline: none;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #FEBA0C;
}

.search__input:focus {
	border: 1px solid #FED700;
	background: #FFF;
}

.search__input::placeholder {
	color: #7B8E98;
}

.search__btns {
	display: flex;
	position: absolute;
	right: 20px;
	padding: 0;
}

.search__btn {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.search__btn svg {
	transition: fill 300ms;
	fill: #7B8E98;
}

.search__btn_disabled svg {
	fill: #CFD8DC;
}

.search__btn:focus svg {
	fill: #FEBA0C;
}

.search__btn:hover svg {
	fill: #FEBA0C;
}

@media (max-width: 350px) {
	.search__input {
		max-width: 400px;
	}
}
