@import "../../../styles/mixins";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: -10rem;
	padding-top: 2rem;
	padding-right: var(--section-right);
	padding-bottom: 12rem;
	padding-left: var(--section-left);
	background-color: var(--primary);
	color: var(--text-light);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 80px;
	}

	&__user {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include media-breakpoint-down(s) {
			max-width: 300px;
			font-size: 0.9rem;
			text-align: right;
		}

		@include media-breakpoint-down(xs) {
			max-width: 200px;
			font-size: 0.75rem;
		}
	}

	&__userName {
		display: inline-block;
		font-weight: 600;
	}

	&__userBtn {
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 4px;
	}
}
