@import "~normalize.css";
@import "./variables";

html {
	position: relative;
	height: 100%;
	font-family: var(--main-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	background-color: var(--bg1);

	&::-webkit-scrollbar {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
p,
a {
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	word-wrap: break-word;
	word-break: break-word;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

input {
	border: none;
	background: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	appearance: none;

	&:hover,
	&:active,
	&:focus {
		outline: none;
	}

	&::placeholder {
		letter-spacing: -0.02em;
	}
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	font-family: var(--main-font);
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1 0 auto;
	min-height: 100vh;
	border-top-left-radius: var(--section-border-radius);
	border-top-right-radius: var(--section-border-radius);
	background-color: var(--bg1);
}
