.header {
	width: 100%;
	padding: 12px 0;
	background-color: #FED700;
}

.header__user {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header__userName {
	display: inline-block;
	margin-bottom: 15px;
	padding-bottom: 4px;
	border-bottom: 1.5px solid #0005;
	font-weight: 600;
}

.header__userBtn {
	margin-bottom: 15px;
	padding: 4px;
	transition: color 300ms;
	border: none;
	border-bottom: 1.5px solid #0005;
	background-color: transparent;
	color: #1717179E;
	font-family: inherit;
	font-size: 0.9rem;
	font-weight: 600;
	cursor: pointer;
}

.header__userBtn:hover {
	color: #171717F7;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

@media (max-width: 700px) {
	.wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}
