@use "../../../styles/typografy"as t;
@use "../../../styles/mixins"as m;

.review {
    padding-bottom: 1rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        height: 2px;
        width: 80%;
        background-color: var(--secondary-dark);
        opacity: 0.1;
    }

    &:last-child::after {
        display: none;
    }
    
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;

        @include m.media-breakpoint-down(sm) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__author {
        @include t.h3;
        color: var(--text-dark);
        margin-right: 0.5rem;

        @include m.media-breakpoint-down(sm) {
            margin-bottom: 0.5rem;
        }
    }

    &__date {
        @include t.text2;
        color: var(--text-pale);
    }

    &__text {
        margin-top: 1rem;
        color: var(--text-dark);
    }
}