@import "~normalize.css";

* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

.container {
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
}

img {
	max-width: 100%;
}

.content {
	padding: 20px 0;
}

.content__sort {
	margin-bottom: 40px;
}
