@use "../../styles/mixins"as m;
@use "../../styles/typografy"as t;
@use '../../styles/variables.scss'as f;

.page {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--section-right);
    padding-bottom: var(--section-bottom);
    padding-top: var(--section-bottom);
    padding-left: var(--section-left);

    &__title {
        @include t.h1;
        margin-bottom: f.vw(20);
        margin-top: f.vw(20);
        text-align: center;
    }

    &__text {
        @include t.text1;
        margin-bottom: f.vw(10);
    }

    &__icon {
        width: 300px;
        @include m.media-breakpoint-down(s) {
            width: 200px;
        }
    }

    &__link {
        margin-top: f.vw(20);
    }
}